<% @title="Sign up" %>

<h2>Sign up</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <%= f.alert_message "Please fix the errors below." %>


  <div class="row">
    <div class="col-md-4">
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :user_name %>
    </div>
    <div class="col-md-4">
      <% 
        @start_year = Date.today.year-13 
        @end_year = Date.today.year-80
      %>
      
      <%= f.date_select(:birthday, :start_year => @start_year, :end_year => @end_year, add_month_numbers: true, :order => [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, help: "You must be 13 years or older to have an account.") %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
    <%= f.password_field :password, autocomplete: "off", help: "Passwords must be at least #{@minimum_password_length} characters long." %>
    </div>
    <div class="col-md-6">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>


  <p>We take your privacy seriously. View our <%= link_to "Privacy Policy", privacy_path, :target => "_blank" %> for more information on how we use your personal information.</p>

  <br/><br/>

  <%= f.primary "Sign up" %>
  
<% end %>