<% @title="Stories" %>
<% @jumbotron_show = true %>
<% @jumbotron_content = 'story_jumbotron_content' %>

<p>
  <strong><%= @story.heading %></strong>  
</p>

<p>
  <%= @story.body %>
</p>

<p>
  <%=
      if @story.published 
        @publish_Notice = "This story has been made public."  
      else
        @publish_Notice = "This story is private."  
      end
  %>
</p>

<p>~ <%= @story.authorName %></p>

<p>Submitted: <%= @story.created_at.strftime("%B, %d %Y") %><br/>

<%=
  @location = " "

  if @story.locationCity == "" || @story.locationCity == " " || @story.locationCity.nil?
    @location = " "
  else
    @location = "Near: " + @story.locationCity + ", " + @story.locationState 

    unless @story.latitude.nil? or @story.longitude.nil?
      @location = @location + " (" + @story.latitude.to_s + ", " + @story.longitude.to_s + ")"
    end
  end
%>
</p>

<% if (user_signed_in?) && (current_user == @story.user) %>
  <%= link_to 'Edit', edit_story_path(@story) %> |
  <%= link_to 'Delete', @story, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<% end %>
<%= link_to 'Back', stories_path %>